
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>pratikblogs</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<style media="screen">
      body {
        overflow: auto;
        background-image: url('https://images.pexels.com/photos/159417/macbook-laptop-computer-technology-159417.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size:cover;
        background-position: center;
      }
</style>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">About Me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="https://github.com/pratikmanta">Github</a>
          <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blogs</a>
          <a class="nav-item nav-link" href="{% static 'pratik-cv.pdf' %}">Resume</a>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">
    <div class="rounded m-3 p-3 mb-2 bg-dark text-white"><h1>Welcome to my Blogs</h1></div>
    <br>
    <br>
    <h1 class="text-center">Latest Articles </h1>
    <hr />
    <div class="container">
      <div>
        {% for blog in blogs.all %}
        <div class="bg-dark text-light border rounded p-1 mb-3"><h4 style="cursor:pointer;" onclick=" window.location = '{% url 'detail' blog.id %}'; "><em>{{ blog.title }}</em></h4></a>
        <p><strong><em>{{ blog.pub_date_pretty }}</em></strong></p></div>
        <a href="{% url 'detail' blog.id %}"><img class="img-fluid" src = "{{ blog.image.url }}" align="center" height=300 width=300/></a>
        <strong><p class="mt-1">{{ blog.summary }}.... <a href="{% url 'detail' blog.id %}">Read More</a></p></strong>
        {% endfor %}
      </div>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>
         <strong>© Pratik Manta {%  now "Y" %}</strong>
      </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
